@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model List<CarRental>
@{
    ViewData["Title"] = "Car Rental List";
    var currentUser = await UserManager.GetUserAsync(User);
    bool isAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");
    var matchingCarRentals = Model.Where(carRental => currentUser.CarPreferences.Split(',').Any(pref => carRental.CarType.Contains(pref))).ToList();
}

<img src="https://media.assets.ansira.net/websites/content/cblt-ms-nissan//39f414af448c484db13471de169ff43c_1598x686.jpg" alt="Car Rental Image" class="car-rental-image">
<style>

    .car-rental-image {
        width: 100%;
        height: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
        object-fit: cover;
        border-radius: 10px;
    }

    .title-bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .title {
        margin-top: 20px;
    }

    .create-car-rental-btn {
        margin-top: 20px;
        margin-left: 10px;
        padding: 5px 10px;
        font-size: 14px;
    }

</style>
@if (isAdmin)
{
    <div class="title-bar">
        <h2 class="title">Car Rental List</h2>
        <a class="btn btn-outline-secondary create-car-rental-btn" asp-action="Create">Add Car Rental</a>
    </div>
}
else
{
    <div class="title-bar">
        <h2 class="title">Car Rental List</h2>
    </div>
}

<form id="carRentalSearchForm" asp-controller="CarRental" asp-action="Index" method="get">
    <div class="row">
        <div class="input-group">
            <input type="text" class="form-control" id="carModel" name="carModel" placeholder="Search by Model">
            <input type="text" class="form-control" id="rentalCompany" name="company" placeholder="Search by Company">
            <input type="text" class="form-control" id="carType" name="carType" placeholder="Search by Car Type">
            <select class="form-control" id="sortOrder" name="sortOrder">
                <option value="">Order By Price</option>
                <option value="price_asc">Low to High</option>
                <option value="price_desc">High to Low</option>
            </select>
            <button type="submit" class="btn btn-primary">Apply</button>
        </div>
    </div>
</form>

@if (!Model.Any())
{
    <p>No Car Rentals available.</p>
}
else
{
    <div class="row mt-4">
        @if (matchingCarRentals.Any())
        {
            <div id="bestMatchesContainer">
                @foreach (var carRental in matchingCarRentals)
                {
                }
            </div>
        }
    </div>
}

<div id="carRentalSearchResults">
</div>

@section Scripts {
    <script src="~/js/carListings.js"></script>
}
